<script type="application/ld+json">
  [
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Главная",
          "item": "https://staffpoint.ru/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "О нас",
          "item": "https://staffpoint.ru/about/"
        }
      ]
    },
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Мерчандайзинг агентство Staff Point",
      "url": "https://staffpoint.ru/",
      "logo": "https://staffpoint.ru/static/staffpoint-logo.png",
      "foundingDate": "2005",
      "founders": [
        {
          "@type": "Person",
          "name": "Филипп Артёмов"
        }
      ]
    },
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "О нас — Staff Point",
      "url": "https://staffpoint.ru/about/",
      "description": "Staff Point — агентство мерчандайзинга и аутсорсинга персонала. Опыт работы более 20 лет, работа во всех городах России, миссия и уникальность компании."
    }
  ]
</script>