<script type="application/ld+json">
[
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Мерчандайзинг агентство Staff Point",
  "url": "https://staffpoint.ru/",
  "logo": "https://staffpoint.ru/logo.png",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Торжковская ул. д.20 лит.А, БЦ Торжковский Лофт, офис 291",
    "addressLocality": "Санкт-Петербург",
    "postalCode": "197343",
    "addressCountry": "Россия"
  },
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "contactType": "sales",
      "telephone": "+7 (921) 586-73-82",
      "areaServed": "RU",
      "availableLanguage": "ru"
    },
    {
      "@type": "ContactPoint",
      "contactType": "customer service",
      "telephone": "+7 (962) 708-48-29",
      "areaServed": "RU",
      "availableLanguage": "ru"
    },
    {
      "@type": "ContactPoint",
      "contactType": "office",
      "telephone": "+7 (812) 986-47-84",
      "areaServed": "RU",
      "availableLanguage": "ru"
    },
    {
      "@type": "ContactPoint",
      "contactType": "email",
      "email": "f.kerov@staffpoint.ru",
      "areaServed": "RU",
      "availableLanguage": "ru"
    }
  ]
},
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Главная",
      "item": "https://staffpoint.ru/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Контакты",
      "item": "https://staffpoint.ru/contacts/"
    }
  ]
}
]
</script>