<script type="application/ld+json">
  [
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Staff Point",
      "url": "https://staffpoint.ru/",
      "logo": "https://staffpoint.ru/static/staffpoint-logo.png",
      "foundingDate": "2005",
      "founders": [
        {
          "@type": "Person",
          "name": "Филипп Артёмов"
        }
      ],
      "description": "Мерчандайзинг агентство Staff Point — Мерчандайзинг услуги, аутсорсинг и аутстаффинг полевого персонала. Выкладка товаров, аудит торговых точек, размещение POSM, контроль качества и отчётность. Работаем по всей России.",
      "areaServed": {
        "@type": "Country",
        "name": "Россия"
      }
    },
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Staff Point",
      "url": "https://staffpoint.ru/"
    },
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "name": "Услуги мерчандайзинг агентства Staff Point",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Мерчандайзинг товаров в магазинах",
          "url": "https://staffpoint.ru/merch/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Мерчандайзинг Beauty",
          "url": "https://staffpoint.ru/merch-beauty/"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "Мерчандайзинг DIY",
          "url": "https://staffpoint.ru/merch-diy/"
        },
        {
          "@type": "ListItem",
          "position": 4,
          "name": "Мерчандайзинг в аптеках",
          "url": "https://staffpoint.ru/merch-meds/"
        },
        {
          "@type": "ListItem",
          "position": 5,
          "name": "Технический мерчандайзинг (Установка торгового оборудования и Размещение POSM)",
          "url": "https://staffpoint.ru/posm-placement/"
        },
        {
          "@type": "ListItem",
          "position": 6,
          "name": "Мониторинг торговых точек",
          "url": "https://staffpoint.ru/monitoring/"
        },
        {
          "@type": "ListItem",
          "position": 7,
          "name": "Аутсорсинг мерчандайзинга",
          "url": "https://staffpoint.ru/outsource-staff/"
        },
        {
          "@type": "ListItem",
          "position": 8,
          "name": "Аудит мерчандайзинга торговых точек",
          "url": "https://staffpoint.ru/audit/"
        },
        {
          "@type": "ListItem",
          "position": 9,
          "name": "Тайный покупатель",
          "url": "https://staffpoint.ru/mystery/"
        }
      ]
    }
  ]
</script>