{% extends 'main/base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
{% endblock %}

{% block meta %}
    {% include 'jsonld/merch-diy.html' %}
    <title>Мерчандайзинг в DIY-сетях — Staff Point</title>
    <meta name="description" content="Эффективный мерчандайзинг в DIY-сетях от Staff Point. Подготовленные специалисты, знание продукта, контроль выкладки и стандартов бренда. Работаем с ведущими федеральными сетями.">
    <meta name="keywords" content="мерчандайзинг DIY, мерчандайзинг строительных товаров, мерчандайзинг лакокрасочных товаров, мерчандайзинг в сетях, Staff Point">
{% endblock %}

{% block content %}
<div class="hero" id="hero-diy">
    <div class="container">
        <div class="hero-title">
            <h1>
                <b>Staff P<span class="accent-color">o</span>int<br/></b>
                Услуги мерчандайзинга в DIY-сетях<br/>
                {{ region.insert if region }}
            </h1>
        </div>
        <div class="hero-txt">
            <p>
                Мерчандайзинг в сегменте DIY требует не только внимания к деталям, но и глубокого знания продукта и его специфики.
                Наши специалисты понимают особенности декоративных, технических, строительных, лакокрасочных, сантехнических и
                интерьерных категорий.
            </p>
            <p>
                Мы помогаем производителям и дистрибьюторам обеспечить правильное представление товаров в зале,
                обеспечить их сборку и презентацию покупателю.
            </p>
            <p>
                Благодаря продуманной выкладке и контролю остатков, ВАША продукция (оранжевым) всегда будет выглядеть
                привлекательней на фоне конкурентов
            </p>
        </div>
    </div>
    <div class="hero-video-dimmer"></div>
    <video class="hero-video" autoplay muted loop playsinline>
        <source src="/static/background.mp4" type="video/mp4">
    </video>
</div>


<section class="adv-icons">
    <div class="container">
        <h2>Мы знаем о мерчандайзинге в сегменте DIY все!</h2>
        <div class="section-subtitle">До того, как мы <b>подберем</b> для Вас <b>подходящую программу мерчендайзинга</b>, Мы <b>ответим на</b> Ваши самые <b>главные вопросы</b></div>
        <ul class="adv-icons-list">
            <li class="adv-icons-el">
                <img src="/static/icons/icon_guy_hand.png" alt="Иконка мерчандайзинг - продавец консультант">
                <div class="adv-icons-txt">
                    Кто именно Вам нужен - продавец-консультант или технический специалист? Зачастую классический мерчендайзинг
                    в DIY уходит на второй план.
                </div>
            </li>
            <li class="adv-icons-el">
                <img src="/static/icons/icon_tools.png" alt="Иконка мерчандайзинг - инструменты">
                <div class="adv-icons-txt">
                    Как обеспечить ежедневную сборку презентационного товара, как его разместить, подвесить и подключить к питанию.
                </div>
            </li>
            <li class="adv-icons-el">
                <img src="/static/icons/icon_hands.png" alt="Иконка мерчандайзинг - доверие">
                <div class="adv-icons-txt">
                    Как поддержать чистоту и исправность тестеров, дисплеев, стендов и POSM-материалов. Это важная часть
                    восприятия бренда и доверия покупателя к продукту.
                </div>
            </li>
            <li class="adv-icons-el">
                <img src="/static/icons/icon_route.png" alt="Иконка мерчандайзинг - маршрут">
                <div class="adv-icons-txt">
                    Как составить оптимальные маршруты для исполнителей, если проект предусматривает визитное посещение
                    нескольких магазинов.
                </div>
            </li>
            <li class="adv-icons-el">
                <img src="/static/icons/icon_calc.png" alt="Иконка мерчандайзинг - калькулятор">
                <div class="adv-icons-txt">
                    Как избежать угрозы OOS, правильно посчитать остатки, актуализировать ценники и улучшить выкладку.
                </div>
            </li>
            <li class="adv-icons-el">
                <img src="/static/icons/icon_shelf.png" alt="Иконка мерчандайзинг - полка">
                <div class="adv-icons-txt">
                    Как реально улучшить видимость Вашего продукта за счет увеличения количества фейсов и создание корпоративных блоков.
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="service-comp medium-bg">
    <div class="container">
        <h2>Что входит в услугу мерчандайзинга в DIY-сетях {{ region.insert if region }}</h2>
        <div class="section-subtitle">Мы <b>берем на себя все</b>, что касается представления вашего бренда и товара в DIY-магазинах</div>
        <div class="service-comp-wrap">
            <ul class="service-comp-list">
                <li class="service-comp-el">
                    <h4 class="service-comp-title">Подбор и обучение персонала</h4>
                    <div class="service-comp-txt">
                        Все наши мерчендайзеры проходят обучение по продукту, работают по системе KPI, контролируют соблюдение
                        брендбуков и мерч-гайдов, имеют опыт работы в ритэйле 2+ года, оформлены согласно законодательству РФ.
                    </div>
                </li>
                <li class="service-comp-el">
                    <h4 class="service-comp-title">Отчетность </h4>
                    <div class="service-comp-txt">
                        Предоставляем полную информацию об всем, что касается Вашего продукта в торговой точке: фотоотчёты до и
                        после выкладки, остатки, информируем об угрозе возникновения OOS, проверяем актуальность ценников и
                        активных акций.
                    </div>
                </li>
                <li class="service-comp-el">
                    <h4 class="service-comp-title">Технологии</h4>
                    <div class="service-comp-txt">
                        Используем иновационную онлайн-платформу, в которой вся информация доступна заказчику в режиме реального времени 24/7.
                        Геолокация с привязкой к каждому обслуживаемому магазину и фотографией рабочего времени. Удобный конструктор отчетов
                        позволяет Вам собирать только нужные данные и интегрировать в Ваши таблицы и аналитику.
                    </div>
                </li>
                <li class="service-comp-el">
                    <h4 class="service-comp-title">Координация с персоналом торговой точки</h4>
                    <div class="service-comp-txt">
                        Используя свой многолетний опыт работы в разных товарных категориях во всех торговых сетях, имеем устойчивые
                        рабочие связи с ЛПР. Это позволяет быстро решать поставленные задачи, занимать дополнительные места продаж,
                        формировать нетипичные пространства для выкладки товара.
                    </div>
                </li>
                <li class="service-comp-el">
                    <h4 class="service-comp-title">Совместный мониторинг и анализ результатов</h4>
                    <div class="service-comp-txt">
                        Анализируем эффективность проекта, определяем динамику продаж, предоставляем рекомендации по оптимизации
                        работы и увеличения объемов выручки.
                    </div>
                </li>
                <li class="service-comp-el">
                    <h4 class="service-comp-title">Клиентский сервис</h4>
                    <div class="service-comp-txt">
                        На каждый проект мы предоставляем профессионального личного менеджера - координатора. Этот сотрудник
                        будет постоянно на связи с Вами, знает все тонкости DIY ритейла и поможет избежать ошибок на всех
                        этапах работы.
                    </div>
                </li>
            </ul>
            <div class="service-comp-img" id="service-comp-img-diy"></div>
        </div>
    </div>
</section>


<section class="adv" id="why-diy">
    <div class="container">
        <h2>Почему выбирают Staff Point</h2>
        <ul class="adv-list">
            <li class="adv-el">
                <h4 class="adv-title">20 лет опыта</h4>
                <div class="adv-txt">
                    Мы знаем, умеем и любим - собирать, вешать, клеить, красить и встраивать ВСЕ с чем работаем в DIY торговых сетях.
                </div>
            </li>
            <li class="adv-el">
                <h4 class="adv-title">Сотрудники</h4>
                <div class="adv-txt">
                    Наши мерчендайзеры - это еще и полноценные технические специалисты, с опытом работы в отрасли 2+ года,
                    прошедшие специальные тренинги в DIY сегментах.
                </div>
            </li>
            <li class="adv-el">
                <h4 class="adv-title">On-line отчетность</h4>
                <div class="adv-txt">
                    Безоплатная для вас технологичная и передовая CRM платформа для контроля полевого персонала. Гибкая,
                    безопасная и удобная в управлении с интеграцией под все именно Ваши задачи.
                </div>
            </li>
            <li class="adv-el">
                <h4 class="adv-title">Ни одного агентства на подряде</h4>
                <div class="adv-txt">
                    Работаем только со своими командами мерчандайзеров во всех городах РФ - нет задержек в реакции,
                    потерь качества и бюрократии.
                </div>
            </li>
            <li class="adv-el">
                <h4 class="adv-title">Выкладка</h4>
                <div class="adv-txt">
                    Мы действительно знаем КАК добиться реально большей представленности по «фейсам» на полке, чем у ваших
                    конкурентов, как расшириться и удержать занятые позиции.
                </div>
            </li>
            <li class="adv-el">
                <h4 class="adv-title">Профессионализм</h4>
                <div class="adv-txt">
                    Проводим профессиональные консультации, представляя Ваш товар покупателю в магазине, умеем создавать
                    лояльность к бренду и повышать уровень доверия к продукту.
                </div>
            </li>
        </ul>
    </div>
</section>

{% include 'main/_feedback_form.html' %}

{% endblock %}