{% extends 'main/base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
{% endblock %}

{% block meta %}
    <title>Мерчандайзинг в аптеках — Staff Point</title>
    <meta name="description" content="Эффективный мерчандайзинг в аптеках от Staff Point. Подготовленные специалисты, знание фармацевтической продукции, контроль выкладки и стандартов аптечных сетей.">
    <meta name="keywords" content="мерчандайзинг аптек, мерчандайзинг лекарственных товаров, мерчандайзинг фармацевтической продукции, Staff Point">
{% endblock %}

{% block content %}
<div class="hero" id="hero-meds">
    <div class="container">
        <div class="hero-title">
            <h1>
                <b>Staff P<span class="accent-color">o</span>int<br/></b>
                Услуги мерчандайзинга в аптеках<br/>
                {{ region.insert if region }}
            </h1>
        </div>
        <div class="hero-txt">
            <p>
                Мерчандайзинг в аптечных сетях требует высокой точности, знания фармацевтической продукции и строгого соблюдения
                стандартов. Наши специалисты владеют навыками работы с лекарственными и сопутствующими товарами и умеют правильно
                их выкладывать.
            </p>
            <p>
                Мы обеспечиваем корректное размещение продукции, контроль наличия и обновления планограмм, а также предоставляем
                фотоотчёты о проделанной работе в каждой торговой точке. Это позволяет брендам быть представленными
                профессионально и повышать продажи даже в самых строгих аптечных сетях.
            </p>
        </div>
    </div>
    <div class="hero-video-dimmer"></div>
    <video class="hero-video" autoplay muted loop playsinline>
        <source src="/static/background.mp4" type="video/mp4">
    </video>
</div>

<section class="adv-icons">
    <div class="container">
        <h2>Мы знаем о мерчендайзинге все!</h2>
        <div class="section-subtitle">До того, как мы <b>подберем</b> для Вас <b>подходящую программу мерчендайзинга</b>, Мы <b>ответим на</b> Ваши самые <b>главные вопросы</b></div>
        <ul class="adv-icons-list">
            <li class="adv-icons-el">
                <img src="/static/icons/icon_shop.png" alt="" title="">
                <h4 class="adv-icons-title"></h4>
                <div class="adv-icons-txt">Какие торговые точки определить в программу по обслуживанию агентством</div>
            </li>
            <li class="adv-icons-el">
                <img src="/static/icons/icon_guy_hand.png" alt="" title="">
                <div class="adv-icons-title"></div>
                <div class="adv-icons-txt">Зачастую Вам нужен именно продавец-консультант. Классический мерчендайзинг в аптеках уходит на второй план</div>
            </li>
            <li class="adv-icons-el">
                <img src="/static/icons/icon_calc.png" alt="" title="">
                <div class="adv-icons-title"></div>
                <div class="adv-icons-txt">Проект будет иметь отложенный эффект - как это посчитать и учесть</div>
            </li>
            <li class="adv-icons-el">
                <img src="/static/icons/icon_raise.png" alt="" title="">
                <div class="adv-icons-title"></div>
                <div class="adv-icons-txt">Как повысить эффективность программы и стоит ли использовать «Таинственного покупателя»</div>
            </li>
            <li class="adv-icons-el">
                <img src="/static/icons/icon_route.png" alt="" title="">
                <div class="adv-icons-title"></div>
                <div class="adv-icons-txt">Как составить оптимальные маршруты для исполнителей, если проект предусматривает обслуживание большого количества аптек</div>
            </li>
            <li class="adv-icons-el">
                <img src="/static/icons/icon_motive.png" alt="" title="">
                <div class="adv-icons-title"></div>
                <div class="adv-icons-txt">Как мотивировать провизоров в аптеках предлагать покупателю именно Ваш продукт</div>
            </li>
        </ul>
    </div>
</section>


<section class="service-comp medium-bg">
    <div class="container">
        <h2>Что входит в услугу мерчандайзинга в аптеках {{ region.insert if region }}</h2>
        <div class="section-subtitle">Мы <b>берем на себя все</b>, что касается представления вашего бренда в аптечных сетях</div>
        <div class="service-comp-wrap">
            <ul class="service-comp-list">
                <li class="service-comp-el">
                    <h4 class="service-comp-title">Подбор и обучение персонала</h4>
                    <div class="service-comp-txt">
                        Мы выберем специалистов с опытом работы в аптечных сетях 2+ года и обучим их особенностям и
                        стандартам Ваших брендов.
                    </div>
                </li>
                <li class="service-comp-el">
                    <h4 class="service-comp-title">Организация выкладки товара</h4>
                    <div class="service-comp-txt">
                        Планируем и расставляем продукцию на полках по планограммам аптечных сетей, фиксируем правильное
                        расположение и актуальность ценников.
                    </div>
                </li>
                <li class="service-comp-el">
                    <h4 class="service-comp-title">Координация с персоналом аптеки</h4>
                    <div class="service-comp-txt">
                        Наши полевые сотрудники тесно взаимодействуют с аптечным персоналом и налаживают отношения. Это позволяет
                        сформировать лояльность к Вашему бренду у провизоров, а через них - к конечному потребителю.
                    </div>
                </li>
                <li class="service-comp-el">
                    <h4 class="service-comp-title">Фотоотчет</h4>
                    <div class="service-comp-txt">
                        Предоставляем фотоотчёты, остатки и информируем об угрозе возникновения OOS в технологичной онлайн-платформе,
                        контролируем соблюдение брендбуков и мерч-гайдов. Вся информация доступна заказчику в режиме реального времени.
                    </div>
                </li>
                <li class="service-comp-el">
                    <h4 class="service-comp-title">Совместный мониторинг и анализ результатов</h4>
                    <div class="service-comp-txt">
                        Анализируем эффективность проекта, определяем динамику продаж, предоставляем рекомендации по оптимизации
                        работы и увеличения объемов продаж.
                    </div>
                </li>
            </ul>
            <div class="service-comp-img" id="service-comp-img-meds"></div>
        </div>
    </div>
</section>


<section class="adv" id="why-meds">
    <div class="container">
        <h2>Почему выбирают Staff Point</h2>
        <ul class="adv-list">
            <li class="adv-el">
                <h4 class="adv-title">Иновационные инструменты контроля</h4>
                <div class="adv-txt">
                    Мы используем передовые CRM системы для контроля полевого персонала
                </div>
            </li>
            <li class="adv-el">
                <h4 class="adv-title">Внутрений аудит и контроль</h4>
                <div class="adv-txt">
                    Система собственного аудита нашего агентства позволяет контролировать все этапы проекта, предупреждать
                    негативные события и избегать рисков
                </div>
            </li>
            <li class="adv-el">
                <h4 class="adv-title">Прямое участие собственника</h4>
                <div class="adv-txt">
                    Собственник нашей компании — не отвлеченная фигура, он управляет всеми дирекциями агентства
                </div>
            </li>
            <li class="adv-el">
                <h4 class="adv-title">Расширение полочного пространства</h4>
                <div class="adv-txt">
                    Добиваемся результатов в расширении полочного пространства и завоевываем дополнительные места продаж там,
                    где другие отступают
                </div>
            </li>
            <li class="adv-el">
                <h4 class="adv-title">Долгосрочное партнёрство</h4>
                <div class="adv-txt">
                    Мы стремимся не просто выполнять поставленные задачи. Создавая прозрачные партнерские отношения с каждым клиентом,
                    мы обеспечиваем успешный обмен экспертизой и делимся опытом
                </div>
            </li>
            <li class="adv-el">
                <h4 class="adv-title">Администрирование проекта</h4>
                <div class="adv-txt">
                    На каждый проект мы предоставляем профессионального менеджера - координатора. Этот человек знает все
                    тонкости healthy ритейла и поможет избежать ошибок на всех этапах
                </div>
            </li>
        </ul>
    </div>
</section>

{% include 'main/_feedback_form.html' %}

{% endblock %}