<section>
    <div class="container">
        <form class="form-block" id="feedback-form">
            <div class="form-form">
                <div class="form-top">
                    <h2>Свяжитесь с нами</h2>
                </div>

                <div class="form-information-block">
                    <div class="form-inputs-line">
                        <input class="form-input form-field" type="text" name="name" placeholder="Меня зовут">
                        <select class="form-select form-field" name="subject">
                            <option value="" disabled selected>Я хотел бы</option>
                            <option value="Заказать Мерчандайзинг">Заказать Мерчандайзинг</option>
                            <option value="Заказать Мерчандайзинг">Заказать Технический Мерчандайзинг</option>
                            <option value="Заказать Мерчандайзинг">Заказать Мониторинг</option>
                            <option value="Заказать Мерчандайзинг">Заказать Аудит</option>
                            <option value="Заказать Тайного покупателя">Заказать Тайного покупателя</option>
                            <option value="Заказать Аутстаффинг">Заказать Аутстаффинг</option>
                            <option value="Заказать Аутстаффинг">Связаться по Вакансии</option>
                            <option value="Задать вопрос">Задать вопрос</option>
                        </select>
                    </div>
                    <div class="form-inputs-line">
                        <input class="form-input form-field" type="text" name="email" placeholder="Ваш Email">
                        <div style="margin-bottom: 24px;">или</div>
                        <input class="form-input form-field" type="text" name="phone" placeholder="Ваш телефон" id="phone">
                    </div>
                    <div class="form-inputs-line">
                        <textarea class="form-textarea form-field" name="message" placeholder="Ваше сообщение (не обязательно)"></textarea>
                    </div>
                    <div class="form-inputs-line">
                        <div class="form-feedback-errors"></div>
                    </div>
                    <div class="form-inputs-line">
                        <button class="from-submit" type="submit">Связаться</button>
                        <span class="from-submit-info">Ваши Email и телефон будут использоваться исключительно для того, чтобы с вами связаться.</span>
                    </div>
                </div>
            </div>
            <div class="form-bg"></div>

        </form>
    </div>
</section>

<script type="module" src="{{ url_for('static', filename='js/feedback.js') }}"></script>